:root {
    --primary1: hsl(180, 66%, 49%);
    --primary2: hsl(257, 27%, 26%);
    --secondary: hsl(0, 87%, 67%);
    --neutral1: hsl(0, 0%, 75%);
    --neutral2: hsl(257, 7%, 63%);
    --neutral3: hsl(255, 11%, 22%);
    --neutral4: hsl(260, 8%, 14%);
}
body {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
.font-bold {
    font-weight: 800;
}
